body{
    margin: 0;
    padding: 0;
    background: #262626;
}
.rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotateY(180deg);
    display: flex;
    justify-content: center;
   
}
.rating input{
    display: none;
    
}
.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    /* background: #ccc; */
   
}
.rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;

}
.rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: gold;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(149, 30, 30, 0.5);
   
}
.rating label:hover::after,
.rating label:hover~label::after,
.rating input:checked~label::after{
    opacity: 1;
    /* rotate: 70deg; */
}
.textarea
{
margin: 10px;
   position: relative;
   top: 50px;
   right: 240px;
}
.btn{
    position: relative;
    top: 46px;
    right: 230px;
}
header{
    position: relative;
    top: 50px;
    right: 192px;
    text-align: center;
}
#star5:checked~form header::before{
    content: "I hate it";
}
#star4:checked~form header::before{
    content: "I dont like it";
}
#star3:checked~form header::before{
    content: "Good";
}
#star2:checked~form header::before{
    content: "Awesome";
}
#star1:checked~form header::before{
    content: "Excellent";
}
form header{
    width: 100%;
    font-size: 25px;
    color:#fe7;
    font-weight: 500;
    transition: all 0.2s ease;
    transform: translate(0,0) rotateY(180deg);
}
form .textarea textarea{
   height: 100px;
   width:190px;
   color: #eee;
   border: 1px solid #333;
   background: #222;
   padding: 5px;
   font-size: 17px;
   resize: none;
   transform: translate(0,0) rotateY(180deg);
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
    
}
form .btn button{
    height: 30px;
    width: 200px;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    transform: all 0.2s ease;
    text-transform: uppercase;;
    cursor: pointer;
    transition: all 0.3 ease;
    transform: translate(0,0) rotateY(180deg);
}
form .btn button:hover{
    background: #1b1b1b;
    }