/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');  */
  
 *{ 
     box-sizing: border-box; 
     margin: 0; 
     padding: 0; 
     color: ghostwhite;
     text-decoration: none;
 } 
 
 
  body { 
     font-family: sans-serif; 
     min-height: 100vh; 
     width: 100%; 
     display: flex; 
     align-items: center;  
     justify-content: center; 
     background-image: url(gradient.jpg); 
     font-family: 'poppins'; 
     position: relative; 
 }  
 
  .grid-container { 
     resize:horizontal;  
     overflow: auto; 
     height: auto; 
     width: 90%; 
     padding: 80px; 
     border-radius: 20px; 
     background-color: #eeeeee; 
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
     gap: 20px; 
     justify-items: center;  
 } 
  
 /* .grid-item { 
    
     color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 100px; 
     width: 100px; 
     border: none; 
     border-radius: 10px; 
 } */
 .grid-item1{
    background-image: url(Diett.jpg);
    background-size: cover;
    color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 150px; 
     width: 150px; 
     border: none; 
     border-radius: 10px; 
 }

 .grid-item2{
    background-image: url(brain.jpg);
    background-size: cover;
    color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 150px; 
     width: 150px; 
     border: none; 
     border-radius: 10px; 
 }
 .grid-item3{
    background-image: url(smokee.jpg);
    background-size: cover;
    color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 150px; 
     width: 150px; 
     border: none; 
     border-radius: 10px; 
 }
    
 .grid-item4{
    background-image: url(covid.jpeg);
    background-size: cover;
    color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 150px; 
     width: 150px; 
     border: none; 
     border-radius: 10px; 
 }
 .grid-item5{
    background-image: url(healthinsurance.jpg);
    background-size: cover;
    color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 150px; 
     width: 150px; 
     border: none; 
     border-radius: 10px; 
 }
 .grid-item6{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.bEBchjQ5YNcnZWSspLT78QHaEK&pid=Api&P=0&h=180);
    background-size: cover;
    color: #fff; 
     font-size: 18px; 
     font-weight: bold; 
     padding: 20px; 
     text-align: center; 
     height: 150px; 
     width: 150px; 
     border: none; 
     border-radius: 10px; 
 }
 